<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}
  <meta name="google-site-verification" content="rhdWaxRC79ucWs_dvo0PjNy7JgsOed5VTTP8D8k7AEA" />
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "carousel.html" . }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
